@import '~src/webroot/variables/index';
@import '~src/webroot/global-styles/mixins';

.add-bot-card {
  width: 180px;
  overflow: hidden;

  &__body {
    padding: 50px 20px;
    align-items: center;
    text-align: center;
    height: 100%;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    color: @white-color;
    background-color: @primary-color;
    cursor: pointer;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
}