@import '~src/webroot/variables/index';
@import '~src/webroot/global-styles/mixins';

.bf-footer {
    border-top: @separator-color 1px solid;

    &__container {
        padding: 2rem 2rem 2rem 2rem;
    }

    &__links {
        display: flex;
        justify-content: space-between;
    }
}