@import '~src/webroot/variables/index';
@import '~src/webroot/global-styles/mixins';

.bf-general-layout {
    display: flex;
    flex-direction: column;
    min-height: 100%;

    &__header {
        margin-bottom: 2rem;
    }

    &__container {
        flex: 1 0 auto;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    &__footer {
        flex: 0 0 auto;
    }
}